@model bool

@{
    ViewBag.Title = "404";
    Layout = Model ? "../Shared/_Layout.cshtml" : "../Shared/_LoginLayout.cshtml";
}

<h1 class="text-danger">404 error.</h1>
<h2 class="text-danger">Page not found</h2>
